@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", sans-serif;
    overflow: hidden;
}



.appColorFade {
    background: linear-gradient(90deg, #7182FF 0%, #249931 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: 700
}

.material-symbols-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    user-select: none;
}

.searchbar .material-symbols-outlined  {
    width: 2em;
}