@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}



.appColorFade {
    background: linear-gradient(90deg, #7182FF 0%, #249931 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: 700
}

.material-symbols-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}


.presentationComponentsStyle {
    background: #1F1F1F;
    padding: .1rem;
    border: solid 10px #181818;
}

.glass {
    background-color: rgba(255, 255, 255, 0.012);
    border: 2px solid rgba(255, 255, 255, 0.239));
    backdrop-filter: blur(10.2px) brightness(100%);
    -webkit-backdrop-filter: blur(10.2px) brightness(100%);
}