@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-theme-primary {
        background-color: var(--bg-primary);
    }
    .bg-theme-secondary {
        background-color: var(--bg-secondary);
    }
    .bg-theme-tertiary {
        background-color: var(--bg-tertiary);
    }
    .text-theme-primary {
        color: var(--text-primary);
    }
    .border-theme-tertiary {
        border-color: var(--bg-tertiary);
    }
}

* {
    font-family: "Inter", sans-serif;
}

:root {
    /* Dark theme (default) */
    --bg-primary: #121212;
    --bg-secondary: #4A4A4A;
    --bg-tertiary: #666666;
    --text-primary: #FFFFFF;
}

.light {
    /* Light theme */
    --bg-primary: #EAEAEA;
    --bg-secondary: #CACACA;
    --bg-tertiary: #A8A8A8;
    --text-primary: #000000;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
    background-color: var(--bg-primary);
}

input::placeholder {
    user-select: none;
}

.appColorFadeText {
    background: linear-gradient(90deg, #7182FF 0%, #249931 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: 700
}

.appColorFade {
    background: linear-gradient(90deg, #7182FF 0%, #249931 100%);
}


.material-symbols-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}


/* .presentationComponentsStyle {
    background: #1F1F1F;
    padding: .1rem;
    border: solid 10px #181818;
}

.presentationComponentsStyleBorderLess {
    background: #1F1F1F;
    padding: .1rem;
} */


.defaultStyle {
    background: var(--bg-primary);
    border: solid 1px var(--bg-tertiary);
    color: var(--text-primary);
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.defaultStyleHover:hover {
    background: var(--bg-secondary);
}

.glassPanel {
    background-color: rgba(255, 255, 255, 0.012);
    border: 2px solid var(--bg-tertiary);
    backdrop-filter: blur(10.2px) brightness(100%);
    -webkit-backdrop-filter: blur(10.2px) brightness(100%);
}

.glassPanelOpaque {
    background-color: rgba(0, 0, 0, 0.400);
    border: 1px solid var(--bg-tertiary);
    backdrop-filter: blur(10.2px) brightness(100%);
    -webkit-backdrop-filter: blur(10.2px) brightness(100%);
}

.glassBackground {
    background-color: rgba(255, 255, 255, 0.012);
    backdrop-filter: blur(10.2px) brightness(100%);
    -webkit-backdrop-filter: blur(10.2px) brightness(100%);
}


.card-animate {
    animation: cardFadeIn 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@keyframes cardFadeIn {
    0% {
        opacity: 0;
        transform: translateY(40px) scale(0.95);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.card-exit {
    animation: cardFadeOut 0.4s ease forwards;
}

@keyframes cardFadeOut {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateY(-40px) scale(0.95);
    }
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@font-face {
    font-family: 'NType82';
    src: url('/src/assets/NType82-Headline.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

